* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  background-color: rgb(83, 84, 85);
  color: azure;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.nav_item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
}

.nav_item_mean {
  margin: 1em;
}

a {
  text-decoration: none;
  color: white;
}

main {
  width: 60vw;
  padding: 3em 2em;
  background-color: lightgray;
  margin-top: 2em;
  margin-bottom: 2em;
}

footer {
  text-align: center;
  padding: 2em;
  margin-top: 1.5em;
}
